body {
    a {
        cursor: pointer !important;
    }
    th,
    td {
        text-align: center;
    }
    .btn-preview{
        display: none;
    }
    .activity-end{
        color: #ddd;
    }
    #table #tableBody tr td {
        line-height: 38px;
        input {
            height: 25px;
        }
        a {
            cursor: pointer;
        }
    }
    table tbody tr td {
        line-height: 38px !important;
    }
    .select2-container--below {
        width: 120px !important;
    }
    #goodsTable #table-body tr td {
        line-height: 38px;
        input {
            height: 25px;
        }
        a {
            cursor: pointer !important;
        }
    }
    #right-bar-container {
        a {
            color: #555;
        }
        .tab-content {
            padding: 10px;
            // 商品基本信息
            form {
                ul {
                    li {
                        overflow: hidden;
                        margin: 30px;
                        line-height: 34px;
                        .span-left {
                            display: inline-block;
                            width: 115px;
                            float: left;
                            text-align: right;
                        }
                        .input-long {
                            width: 400px;
                        }
                        .input-time {
                            width: 186px;
                            float: left;
                        }
                        .check-box {
                            padding: 10px
                        }
                    }
                }
            }
            button {
                margin: 10px 0 20px 0;
            }
            a {
                color: #428bca;
            }
            th,
            td {
                text-align: center;
            }
            .next-div {
                margin-top: 50px;
                button {
                    width: 200px;
                    margin-left: 25%;
                    transform: translate(-10%)
                }
            }
        }
        #goods {
            button {
                transform: translate(40%);
            }
        }
        #goods,
        #draw {
            input {
                width: 60px;
                border: 1px solid #ccc;
                text-align: center;
                border-radius: 5px;
            }
        }
        #drainage {
            input {
                border-radius: 5px;
                padding-left: 10px;
                border: 1px solid #ccc;
            }
        }
    }

    #addGoodsPopup,
    #addDrawPopup {
        .modal-dialog {
            width: 450px;
            .modal-body {
                .operation-money {
                    margin-left: 90px;
                    margin-top: 10px;
                    min-height: 34px;
                    overflow: hidden;
                    .options {
                        float: left;
                        width: 135px;
                        display: inline-block;
                    }
                    .span-title {
                        float: left;
                        line-height: 30px;
                        display: inline-block;
                        width: 80px;
                    }
                }
            }
        }
    }
}