span{
    line-height: 30px;
}
a{
    cursor: pointer;
}

.modal-content{
    input{
    width: 150px!important;
}
    margin: 0px auto;
    padding: 15px;
    min-height: 300px;
    .envelopessCenter{
        margin: 0 auto;
        padding-bottom: 15px;
        span{
            width: 25%;
        }
        .form-control{
            width: 70%;
        }
    }
}