.right-bar {
	.nav-select .selected {
		border-bottom: none;
	}
	.btn-group .btn {
		border-radius: 0;
	}
	.form-inline {
		margin: 5px 0;
	}
	.middle-condition .form-group {
		width: 100px;
	}
	.middle-condition .form-control {
		width: 100%;
	}
	.order-info-container {
		padding: 0 30px;
		.item-detail-table {
			td {
				vertical-align: middle;
			}
			.total-info {
				text-align: right;
			}
			img {
				width: 90px;
				height: 90px;
			}
		}
		.order-flow,.express-info {
			span {
				font-weight: bold;
			}
		}
		.express-info {
			tbody td {
				border: none;
			}
			.express-his {
				div {
					float: left;
				}
			}
		}
	}
}