<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Note there is no responsive meta tag here -->
	<link rel="icon" href="@static_path/favicon.ico">
	<title>微商管理</title>
	<link rel="stylesheet" href="@static_path/libs/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css">
	<link href="@static_path/libs/bootstrap-3.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="@static_path/css/common.css?v=@version" rel="stylesheet">
	<link href="@static_2_path/css/account-delegate-balance.css?v=@version" rel="stylesheet">
	<link rel="stylesheet" href="@static_path/libs/jquery-pager-plugin-master/Pager.css" type="text/css">
	<link rel="stylesheet" href="@static_path/libs/layer/skin/layer.css" type="text/css">
</head>
<body>
	<input type="hidden" name="nav-active" value="04">
	<input type="hidden" name="menu-active" value="0402">
	<div class="container main-container">
		<div class="left-bar" id="menu-container"></div>
		<div class="right-bar">
			<div class="btn-group nav-select">
			  <a class="btn btn-default selected" href="account-delegate-balance.html">代理余额流水</a>
			  <!-- <a type="button" class="btn btn-default" href="role-management.html">角色管理</a> -->
			  <!-- <a type="button" class="btn btn-default" href="user-management-log.html">管理员日志</a> -->
			</div>
			<div class="user-container">
				<form class="search-key">
					<input class="form-control user-input" maxlength="20" id="user-nickName" placeholder="姓名">
					<input class="form-control user-input" id="user-phone" placeholder="手机号">
					<select class="form-control user-input" id="user-scene">
					  <option value ="">请选择场景</option>
					  <option value ="1">生成订单</option>
					  <option value="2">审核订单</option>
					  <option value ="3">订单拒绝</option>
					  <option value="4">订单取消</option>
					  <option value ="5">普通充值</option>
					  <option value="6">调整减少</option>
					  <option value ="7">调整增加</option>
					  <option value="8">申请充值</option>
					  <option value="9">升级充值</option>
					  <option value="10">强制取消</option>
					</select>
					<button type="button" class="btn btn-success btn-click" id="searcher">查询</button>
					<select class="form-control user-input" id="selection">
					  <option value ="1">导出全部</option>
					  <option value ="0">导出当前页</option>
					</select>
					<button type="button" class="btn btn-success" id="export">导出</button>
				</form>
				<table class="table table-striped table-bordered table-hover user-table" id="table" >
				  <thead>
				  	<tr>
					    <th>姓名</th>
					    <th>级别</th>
					    <th>变动金额</th>
					    <th>变动后金额</th>
					    <th>类型</th>
					    <th>操作时间</th>
					    <th>备注</th>
					</tr>
					<tbody id="table-body"></tbody>
				  </thead>
				</table>
				<div id="pager"></div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="myModalLabel">代理商-<span id="adjustUserName"></span>-当前余额（<span id="adjustCurrentBalance"></span>）</h4>
	      </div>
	      <div class="modal-body">
	        <div class="operation-type">
	        	<span class="span-title">调整类型：</span>
	        	<select class="form-control options" id="">
				  <option value ="0">增加</option>
				  <option value ="1">减少</option>
				</select>
	        </div>
	        <div class="operation-money">
	        	<span class="span-title">调整金额：</span>
	        	<input class="form-control options"/>
	        </div>
	        <div class="operation-reason">
	        	<span class="span-title">调整金额：</span>
	        	<textarea class="form-control input-reason"></textarea>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
<script src="@static_path/libs/jquery/jquery-1.10.2.js"></script>
<script src="@static_path/libs/layer/layer.js"></script>
<script src="@static_path/libs/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
<script src="@static_path/libs/doT-master/doT.min.js"></script>
<script src="@static_path/bundle/main.js?v=@version"></script>
<script src="@static_2_path/bundle/account-delegate-balance.js?v=@version"></script>
<script src="@static_path/libs/jquery-pager-plugin-master/jquery.pager.js"></script>
</body>
</html>
