.right-bar {
	.nav-select .selected {
		border-bottom: none;
	}
	.btn-group .btn {
		border-radius: 0;
	}
	// .form-inline {
	// 	margin: 5px 0;
	// }
	// .middle-condition .form-group {
	// 	width: 100px;
	// }
	// .middle-condition .form-control {
	// 	width: 100%;
	// }
	// table.agent-list {
	// 	tr th {
	// 		text-align: center;
	// 	}
	// 	tr td {
	// 		text-align: center;
	// 	}
	// }
	.agency-detail {
		.btn-group {
			.btn {
				margin-right: 10px;
			}
		}
		p span {margin-right: 15px;}
	}
}
#limit-setting-modal .modal-dialog {
	width: 800px;
	.limit-num {
		width: 50px;
	}
	.modal-body {
		table {
			tr {
				td {
					img {
						width: 50px;
						height: 50px;
					}
					vertical-align: middle;
				}
			}
		}
	}
}
#agency-info-edit-modal {
	.form-control {
		display: inline-block;
	    padding: 6px 0;
	    width: auto;
	}
}