body{
	background-color:white;
}
.login-box{
	display: inline-block;
    border: 1px solid #c9c9c9;
    height: 345px;
    position: absolute;
    left: 50%;
    top: 50%;
   	width: 336px;
   	margin-top: -290px;
   	margin-left: -168px;
	.form-title{
		text-align: center;
		height: 50px;
	    line-height: 50px;
	    border-bottom: 1px solid #e1e1e1;
	    background: #F2F2F2;
	    font-size: 18px;
	    color: #505050;
	    margin-bottom: 15px;
	}
	.login-form{
		.form-group{
			position: relative;
			border: 1px solid #e1e1e1;
			margin: 0 15px;
			margin-bottom: 10px;
			.img-left{
				float: left;
			}
			.img-right{
				position: absolute;
			    right: 5px;
			    display: none;
			    top: 8px;
			    cursor: pointer;
			}
			input{
				height: 40px;
				padding: 6px 12px;
				width: 264px;
				border: none;
			}
			.input-num{
				width: 209px;
    			vertical-align: middle;
			}
			.check-img{
				vertical-align: middle;
				cursor: pointer;
			}
		}
		.tips{
			color: #FF0000;
			margin: 6px 15px;
			visibility:hidden;
		}
		.log{
			margin: 6px 15px;
			margin-bottom: 10px;
			width: 304px;
			height: 40px;
			background-color: #789C14;
			color: white;
			padding:0;
			font-size: 20px;
		}
		.log:hover{
			background-color: #5cb85c;
		}
	}
}