<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Note there is no responsive meta tag here -->
	<link rel="icon" href="@static_path/favicon.ico">
	<title>微商管理</title>
	<link rel="stylesheet" href="@static_path/libs/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css">
	<link href="@static_path/libs/bootstrap-3.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="@static_path/css/common.css?v=@version" rel="stylesheet">
	<link href="@static_2_path/css/content-weChat-setting.css?v=@version" rel="stylesheet">
	<link rel="stylesheet" href="@static_path/libs/layer/skin/layer.css" type="text/css">
</head>
<body>
	<input type="hidden" name="nav-active" value="08">
	<input type="hidden" name="menu-active" value="0801">
	<div class="container main-container">
		<div class="left-bar" id="menu-container"></div>
		<div class="right-bar">
			<div class="btn-group nav-select">
			  <a class="btn btn-default selected" href="content-weChat-setting.html">微信配置</a>
			  <!-- <a type="button" class="btn btn-default" href="user-management-log.html">管理员日志</a> -->
			</div>
			<form class="user-container">
				
				<ul>
					<li>
						<span class="span-left">AppID：</span>
						<input type="text" id="app_id" maxlength="200" class="form-control input-long" />
					</li>
					<li>
						<span class="span-left">AppSecret：</span>
						<input type="text" id="secret" maxlength="200" class="form-control input-long" />
					</li>
					<li>
						<span class="span-left">Token：</span>
						<input type="text" id="token" maxlength="200" class="form-control input-long" />
					</li>
					<li>
						<span class="span-left">微信授权回调域名：</span>
						<input type="text" id="domain" maxlength="200" class="form-control input-long" />
					</li>
					<li>
						<span class="span-left">接口地址：</span>
						<input type="text" id="link" maxlength="200" class="form-control input-long" />
					</li>
				</ul>
			</form>
			<div class="next-div">
				<button type="button" class="btn btn-success btn-save" id="save">保存</button>
				<button type="button" class="btn btn-success btn-save" id="cancel">取消</button>
			</div>
		</div>
	</div>
<script src="@static_path/libs/jquery/jquery-1.10.2.js"></script>
<script src="@static_path/libs/layer/layer.js"></script>
<script src="@static_path/libs/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
<script src="@static_path/libs/doT-master/doT.min.js"></script>
<script src="@static_path/bundle/main.js?v=@version"></script>
<script src="@static_2_path/bundle/content-weChat-setting.js?v=@version"></script>
</body>
</html>