<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Note there is no responsive meta tag here -->
	<link rel="icon" href="@static_path/favicon.ico">
	<title>微商管理</title>
	<link href="@static_path/libs/bootstrap-3.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="@static_path/css/common.css?v=@version" rel="stylesheet">
	<link rel="stylesheet" href="@static_path/libs/jquery-pager-plugin-master/Pager.css" type="text/css">
	<!-- <link rel="stylesheet" href="@static_path/libs/jquery.ui/jquery-ui.css" type="text/css"> -->
	<!-- <link rel="stylesheet" href="@static_path/libs/jquery.ui/jquery-ui-timepicker-addon.css" type="text/css"> -->
	<link rel="stylesheet" href="@static_path/libs/Font-Awesome-3.2.1/css/font-awesome.min.css" type="text/css">
	<link href="@static_path/css/agent-grade-setting.css?v=@version" rel="stylesheet">
<!-- 	<script>
	window.UEDITOR_HOME_URL = 'http://media.haiyn.com/upload.php';
</script> -->
</head>
<body>
<input type="hidden" name="nav-active" value="03">
<input type="hidden" name="menu-active" value="0309">
<div class="container main-container">
	<div class="left-bar" id="menu-container">
		<!-- <ul>
			<li class="active"><a href="agency-list.html" data-id="1">代理商列表</a></li>
			<li><a href="department.html" data-id="2">部门管理</a></li>
			<li><a href="employee.html" data-id="3">员工管理</a></li>
			<li><a href="role-management.html" data-id="4">角色管理</a></li>
		</ul> -->
	</div>
	<div class="right-bar" id="right-bar-container" style="display: none;">
		<div class="btn-group nav-select" id="nav-select">
		  <a type="button" class="btn btn-default selected" href="javascript:void(0)">推广渠道设置</a>
		</div>
		<br>
		<br>
		<div class="setting-container">
			<div class="form-inline">
			  <div class="form-group">
				<p class="form-control-static">渠道编码：</p>
			  </div>
			  <div class="form-group">
				<input type="text" class="form-control" id="place_code">
			  </div>
			</div>
			<div class="form-inline">
			  <div class="form-group">
				<p class="form-control-static">渠道名称：</p>
			  </div>
			  <div class="form-group">
				<input type="text" class="form-control" id="place_name">
			  </div>
			</div>
		</div>
		<div class="tool">
			<button type="button" class="btn btn-success" id="save-btn">保存</button>
			<a href="channel-list.html" class="btn btn-default">取消</a>
		</div>
	</div>
</div>
<div id="img-select-modal-container">
		
</div>
<script src="@static_path/libs/jquery/jquery-1.10.2.js"></script>
<script src="@static_path/libs/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
<script src="@static_path/libs/doT-master/doT.min.js"></script>

<!-- <script src="@static_path/libs/jquery-pager-plugin-master/jquery.pager.js"></script> -->
<script src="@static_path/libs/layer/layer.js"></script>
<!-- <script src="@static_path/libs/jquery.ui/jquery-ui.min.js"></script>
<script src="@static_path/libs/jquery.ui/jquery-ui-timepicker-addon.js"></script>
<script src="@static_path/libs/jquery.ui/jquery-ui-timepicker-zh-CN.js"></script> -->
<!-- 配置文件 -->
<!-- <script type="text/javascript" src="@static_path/libs/ueditor1_4_3_3/ueditor.config.js?v=@version"></script> -->
<!-- 编辑器源码文件 -->
<!-- <script type="text/javascript" src="@static_path/libs/ueditor1_4_3_3/ueditor.all.js"></script> -->
<!-- <script src="@static_path/libs/webuploader-0.1.5/webuploader.min.js"></script> -->
<script src="@static_path/bundle/main.js?v=@version"></script>
<script src="@static_path/bundle/channel-setting.js?v=@version"></script>
</body>
</html>
